body,html {
    height: 100%;
}

/* Body Styles */
body{
    min-height: 100vh;
	height: 100%;
    /*background-image: url("../img/background.jpeg");
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment: fixed;*/
    background-color: #d2dae6;
}

/* Scrollbar Styles */
::-webkit-scrollbar { /* width */
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track { /* Track */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
 
::-webkit-scrollbar-thumb { /* Handle */
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
       color-stop(.5, rgba(255, 255, 255, .2)),
       color-stop(.5, transparent), to(transparent));
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background-color: #0e6588;
}

/* Navbar Styles */
div#collapsibleNavbar {
    color: white;
}

li.nav-item.h5.font-weight-bold {
    border-radius: 0.5em;
}

a.nav-link.text-light.p-2 {
    padding: .75rem!important;
}

li.nav-item.h5.font-weight-bold {
    border: 3px solid #fff;
}

li.nav-item.h5.font-weight-bold:hover {
    border: 3px solid #007bff;
}

li.nav-item.h5.font-weight-bold.active {
    border: 3px solid #007bff;
    background-color: #007bff;
    color: white;
}

.navbar-toggler {
    background-color: #007bff;
    font-size: 1.5rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgogPGc+CiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPgogIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSI0MDIiIHdpZHRoPSI1ODIiIHk9Ii0xIiB4PSItMSIvPgogPC9nPgogPGc+CiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPgogIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGlkPSJzdmdfMSIgZD0ibTQsMTBsMjQsMGMxLjEwNCwwIDIsLTAuODk2IDIsLTJzLTAuODk2LC0yIC0yLC0ybC0yNCwwYy0xLjEwNCwwIC0yLDAuODk2IC0yLDJzMC44OTYsMiAyLDJ6bTI0LDRsLTI0LDBjLTEuMTA0LDAgLTIsMC44OTYgLTIsMnMwLjg5NiwyIDIsMmwyNCwwYzEuMTA0LDAgMiwtMC44OTYgMiwtMnMtMC44OTYsLTIgLTIsLTJ6bTAsOGwtMjQsMGMtMS4xMDQsMCAtMiwwLjg5NiAtMiwyczAuODk2LDIgMiwybDI0LDBjMS4xMDQsMCAyLC0wLjg5NiAyLC0ycy0wLjg5NiwtMiAtMiwtMnoiLz4KIDwvZz4KPC9zdmc+");
}

.dropdown-item {
    padding: .5rem 1.5rem;
}

a.dropdown-item {
    border: 3px solid #fff;
}

a.dropdown-item.active {
    border: 3px solid #007bff;
    background-color: #007bff;
    color: white;
}

a.dropdown-item:hover {
    border: 3px solid #007bff;
}

/* Custom Loading Styles */
@keyframes ldio-eeg8hrr2lac {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.ldio-eeg8hrr2lac div {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 10px solid #007bff;
    border-top-color: transparent;
    border-radius: 50%;
}
.ldio-eeg8hrr2lac div {
    animation: ldio-eeg8hrr2lac 0.5s linear infinite;
    top: 50px;
    left: 50px
}
.loadingio-spinner-rolling-lefr816gl {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-eeg8hrr2lac {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-eeg8hrr2lac div {
    box-sizing: content-box;
}
/* generated by https://loading.io/ */

/* Event Styles */
.btn-lg-add-event {
    font-weight: 500;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    border-radius: 1.5rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
}

.card.hovercard .card-header {
	background-size: cover;
    height: 135px;
}

h4.event-title, h6.event-venue {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer.event-footer {
    height: 10rem;
    background-color: #dae8f7;
}

/* Event Modal Style*/
.bg-info-event-modal {
    background-color: #e7f6f9!important;
}

/* Event Pagination Style*/
.pagination {
    white-space: nowrap;
}

#event-pagination {
    overflow-x: scroll;
    overflow-y: hidden;  width: 100%;
    padding: 0 15px;
}

#event-pagination li {
    display: inline-block;  
}

a.page-link {
    border: 4px solid #dee2e6;
    background-color: white;
    color: blue;
}

a.page-link:hover {
    border: 4px solid #007bff;
}

.rounded-left-event {
    border-top-left-radius: 1.25rem!important;
    border-bottom-left-radius: 1.25rem!important;
}

.rounded-right-event {
    border-top-right-radius: 1.25rem!important;
    border-bottom-right-radius: 1.25rem!important;
}

/* Add Event Styles*/

.border-form-override {
    background-color: white;
    border: 10px solid #78a6ed!important;
    border-radius: 25px;
}

.label-add-edit-event {
    font-weight: 650;
    font-size: 17px;
}

.form-control {
    border: 3px solid #b9c3ce;
}

.time-event { 
    border: 3px solid #b9c3ce;
    border-radius: .25rem;
}

.time-event .label-add-edit-event {
    font-weight: 500;
    font-size: 16px;
}

input.form-control.event-time.w-100{
    border: 2px solid #b9c3ce;
}

input#customFile {
    border: 3px solid #b9c3ce;
}

.w-100.p-3.rounded.bg-light.text-dark, .response {
    border-radius: 1.25rem!important;
}

/* Event-Invitee Details Styles */

.card.event-invitee-details {
    padding-top: 0;
    margin: 0;
    border-radius: 15px;
    border: 0;
}

.event-invitee-parent {
    padding-left: 0;
    padding-right: 0;
}

.btn-lg-event-invitee {
    width: 300px;
    border-radius: 0.75rem;
}

.btn-lg-add-invitee {
    font-weight: 500;
}

.modal-header.bg-primary.add-edit-invitee-override {
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
}

/* Disable Text Highlighting */
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}